<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 3.5.2 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.diagnostics.plugin.PerfMonExchangeClient" name="Exchange Server Client Access Performance Monitor">
    <metricgroup monitorid="com.dynatrace.diagnostics.plugins.PerfPluginMonitor">
      <metric defaultrate="purepath" name="Availability Requests (sec)" unit="number" description="Shows the number of requests serviced per second. The request can be only for free/busy or include suggestions. One request may contain multiple mailboxes.">
        <property key="objectName" value="MSExchange Availability Service" optional="false" />
        <property key="counterName" value="Availability Requests (sec)" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Application Restarts" unit="number" description="Shows the number of times the application has been restarted during the Web server's lifetime.">
        <property key="objectName" value="ASP.NET" optional="false" />
        <property key="counterName" value="Application Restarts" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Worker Process RestartsMyMetric3" unit="number" description="Shows the number of times a worker process has restarted on the computer.">
        <property key="objectName" value="ASP.NET" optional="false" />
        <property key="counterName" value="Worker Process Restarts" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Requests Current" unit="number" description="Shows the current number of requests, including those that are queued, currently executing, or waiting to be written to the client. Under the ASP.NET process model, when this counter exceeds the requestQueueLimit defined in the processModel configuration section, ASP.NET will begin rejecting requests.">
        <property key="objectName" value="ASP.NET" optional="false" />
        <property key="counterName" value="Requests Current" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Request Wait Time" unit="ms" description="Shows the number of milliseconds the most recent request was waiting in the queue.">
        <property key="objectName" value="ASP.NET" optional="false" />
        <property key="counterName" value="Request Wait Time" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Requests In Application Queue" unit="number" description="Shows the number of requests in the application request queue.">
        <property key="objectName" value="ASP.NET Applications" optional="false" />
        <property key="counterName" value="Requests In Application Queue" optional="false" />
        <property key="instanceName" value="_Total" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Average Time to Process a Free Busy Request" unit="ms" description="Shows the average time to process a free/busy request in seconds. One request may contain multiple mailboxes. Free/busy responses do not have meeting suggestions.">
        <property key="objectName" value="MSExchange Availability Service" optional="false" />
        <property key="counterName" value="Average Time to Process a Free Busy Request" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Average Response Time " unit="ms" description="Shows the average time (in milliseconds) that elapsed between the beginning and end of an OEH or ASPX request.">
        <property key="objectName" value="MSExchange OWA" optional="false" />
        <property key="counterName" value="Average Response Time " optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Average Search Time" unit="ms" description="Shows the average time that elapsed while waiting for a search to complete.">
        <property key="objectName" value="MSExchange OWA" optional="false" />
        <property key="counterName" value="Average Search Time" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Average Request Time" unit="ms" description="Shows the average time that elapsed while waiting for a request to complete.">
        <property key="objectName" value="MSExchange ActiveSync" optional="false" />
        <property key="counterName" value="Average Request Time" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Requests/sec" unit="number" description="Shows the number of HTTP requests that are received from the client via ASP.NET per second.">
        <property key="objectName" value="MSExchange ActiveSync" optional="false" />
        <property key="counterName" value="Requests/sec" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Ping Commands Pending" unit="number" description="Shows the number of ping commands that are currently pending in the queue.">
        <property key="objectName" value="MSExchange ActiveSync" optional="false" />
        <property key="counterName" value="Ping Commands Pending" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Sync Commands/sec" unit="number" description="Shows the number of Sync commands that are processed per second. Clients use this command to synchronize items within a folder.">
        <property key="objectName" value="MSExchange ActiveSync" optional="false" />
        <property key="counterName" value="Sync Commands/sec" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Current Unique Users" unit="number" description="Shows the number of unique users currently logged on to Outlook Web Access. This value monitors the number of unique active user sessions, so that users are only removed from this counter after they log off or their session times out.">
        <property key="objectName" value="MSExchange OWA" optional="false" />
        <property key="counterName" value="Current Unique Users" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Download Task Queued" unit="number" description="Shows a value of 1 if the task is queued for execution, otherwise shows 0.">
        <property key="objectName" value="MSExchangeFDS:OAB" optional="false" />
        <property key="counterName" value="Download Task Queued" optional="false" />
        <property key="instanceName" value="_total" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Download Tasks Completed" unit="number" description="Shows the number of OAB download tasks completed since the File Distribution service started. The default value is every 480 minutes or 8 hours.">
        <property key="objectName" value="MSExchangeFDS:OAB" optional="false" />
        <property key="counterName" value="Download Tasks Completed" optional="false" />
        <property key="instanceName" value="_total" optional="false" />
      </metric>
    </metricgroup>
    <information>
      <description value="When monitoring servers running Microsoft Exchange Server with the Client Access role installed" />
    </information>
  </extension>
</plugin>

