<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 3.5.2 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.diagnostics.plugin.PerfMonExchangeUnifiedMessaging" name="Exchange Server Unified Messaging Performance Monitor">
    <metricgroup monitorid="com.dynatrace.diagnostics.plugins.PerfPluginMonitor">
      <metric defaultrate="purepath" name="Call Answer Queued Messages" unit="number" description="Shows the number of messages created and not yet submitted for delivery.">
        <property key="objectName" value="MSExchangeAvailability" optional="false" />
        <property key="counterName" value="Call Answer Queued Messages" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Direct Access Failures" unit="number" description="Shows the number of times that attempts to access Active Directory failed.">
        <property key="objectName" value="MSExchangeAvailability" optional="false" />
        <property key="counterName" value="Direct Access Failures" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Hub Transport Access Failures" unit="number" description="Shows the number of times that attempts to access a Hub Transport server failed. This number is only incremented if all Hub Transport servers were unavailable.">
        <property key="objectName" value="MSExchangeAvailability" optional="false" />
        <property key="counterName" value="Hub Transport Access Failures" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Unhandled Exceptions/sec" unit="number" description="Shows the number of calls that were disconnected after an internal system error occurred in the last second.">
        <property key="objectName" value="MSExchangeAvailability" optional="false" />
        <property key="counterName" value="Unhandled Exceptions/sec" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Queued OCS User Event Notifications" unit="number" description="Represents the number of missed call notifications that have been generated in the Office Communications Server environment and have not been submitted for delivery.">
        <property key="objectName" value="MSExchangeAvailability" optional="false" />
        <property key="counterName" value="Queued OCS User Event Notifications" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Operations over Six Seconds" unit="number" description="Shows the number of all Unified Messaging operations that took more than six seconds to complete. This is the time during which a caller was waiting for Unified Messaging to respond.">
        <property key="objectName" value="MSExchangeUMPerformance" optional="false" />
        <property key="counterName" value="Operations over Six Seconds" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Mailbox Server Access Failures" unit="number" description="Shows the number of times the system did not access a Mailbox server.">
        <property key="objectName" value="MSExchangeUMAvailibility" optional="false" />
        <property key="counterName" value="Mailbox Server Access Failures" optional="false" />
      </metric>
      <metric defaultrate="purepath" name="Calls Disconnected by Callers During UM Audio Hourglass" unit="number" description="Shows the number of calls during which the caller disconnected while Unified Messaging was playing the audio hourglass tones.">
        <property key="objectName" value="MSExchangeUMCallAnswer" optional="false" />
        <property key="counterName" value="Calls Disconnected by Callers During UM Audio Hourglass" optional="false" />
      </metric>
    </metricgroup>
    <information>
      <description value="These counters provide an excellent summary of the health of the Unified Messaging server role in Microsoft Exchange Server as well as its interaction with other server roles." />
    </information>
  </extension>
</plugin>

